.mmi-I {
    color: #fff !important;
}

.mmi-II {
    color: #acd8e9 !important;
}

.mmi-III {
    color: #acd8e9 !important;
}

.mmi-IV {
    color: #83d0da !important;
}

.mmi-V {
    color: #7bc87f !important;
}

.mmi-VI {
    color: #edea26 !important;
}

.mmi-VII {
    color: #fac611 !important;
}

.mmi-VIII {
    color: #fa8a11 !important;
}

.mmi-IX {
    color: #f7100c !important;
}

.mmi-X {
    color: #c80f0a !important;
}


.pager-green {
    color: #00b04f !important;
}

.pager-yellow {
    color: #f2c037 !important;
}

.pager-orange {
    color: #f90 !important;
}

.pager-red {
    color: red !important;
}